<div id="sidebar" class="sidebar responsive sidebar-fixed compact sidebar-scroll">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <ul class="nav nav-list">
        <li sec:authorize="hasRole('ADMIN')" class="active tab-panel">
            <a href="#/">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> User </span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_USER')" class="tab-panel">
            <a href="#/universities/">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> University </span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_USER')" class="tab-panel">
            <a href="#/teachers/">
                <i class="menu-icon fa fa-graduation-cap"></i>
                <span class="menu-text">
                    Teacher
                </span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_STUDENT')" class="tab-panel">
            <a href="#/class_registration">
                <i class="menu-icon fa fa-university"></i>
                <span class="menu-text">
                    Class Registration
                </span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_TEACHER')" class="tab-panel">
            <a href="#/assigned_classes">
                <i class="menu-icon fa fa-university"></i>
                <span class="menu-text">
                    My Classes
                </span>
            </a>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>