<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>TECH3S Web Application Skeleton</title>

    <!--JS 3rd-party-->
    <script type="text/javascript" src="jquery_app/3rdparty/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="jquery_app/3rdparty/sammy-0.7.6.min.js"></script>
    <script type="text/javascript" src="jquery_app/3rdparty/simpleUpload.min.js"></script>

    <!--JS common-->
    <script type="text/javascript" src="jquery_app/common/AppFramework.js"></script>
    <script type="text/javascript" src="jquery_app/common/Constant.js"></script>
    <script type="text/javascript" src="jquery_app/common/RequestManager.js"></script>
    <script type="text/javascript" src="jquery_app/common/Util.js"></script>

    <!--JS app-->
    <script type="text/javascript" src="jquery_app/controller/SecurityController.js" ></script>
    <script type="text/javascript" src="jquery_app/controller/AdminController.js" ></script>
    <script type="text/javascript" src="jquery_app/controller/MemberController.js" ></script>
    <script type="text/javascript" src="jquery_app/view_model/LoginModel.js" ></script>
    <script type="text/javascript" src="jquery_app/view_model/SearchModel.js" ></script>
    <script type="text/javascript" src="jquery_app/view_model/AdminModel.js" ></script>
    <script type="text/javascript" src="jquery_app/view_model/MemberModel.js" ></script>
    <script type="text/javascript" src="jquery_app/Starter.js"></script>

    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <!--Logo section-->
    <div id="logo">
        <a href="https://www.facebook.com/tech3s.mentor/" target="_blank"><img src="img/logo.jpg" width="66" height="66" /></a>
    </div>

    <!--Profile section-->
    <div id="logout" data-controller="SecurityController" style="float: right; display: none;">
        <span>Welcome </span><span id="loggedUser" style="color: blue; font-weight: bold"></span>
        <button data-action="logout">Logout</button>
    </div>

    <h1 align="center" style="color: blue; font-weight: bold; clear: both">TECH3S Web Application Skeleton using jQuery and Sammy</h1>

    <!--Login section-->
    <div id="login" data-controller="SecurityController" data-model-name="LoginModel" style="margin: 0 auto">
        <h1>Login</h1>
        <div>
            <label>Email: </label><input class="field" type="text" name="email" autofocus="true"/>
        </div>
        <div>
            <label> Password: </label><input class="field" type="password" name="password"/>
        </div>
        <div>
            <button class="button" data-action="login" style="margin-left: 150px">Login</button>
        </div>
    </div>


    <!--Main content-->
    <div id="content" style="display: none;">
        <!--Menu-->
        <div id="menu" style="float: left; width: 120px; height: 666px; border: solid 1px blue;">
            <div id="menu-home">
                <a href="#/">Home</a>
            </div>
            <div id="menu-admin">
                <a href="#/admins">Admins</a>
            </div>
            <div id="menu-member">
                <a href="#/members">Members</a>
            </div>
        </div>
        <!--End Menu-->


        <!--Introduction-->
        <div id="menu-detail" style="margin-left: 123px">
            <div id="intro" style="display: none;">
                <p>TECH3S Web Application Skeleton is built on SPA (Single Page Application) model with the following technology stack:</p>
                <ul>
                    <li>
                        <p><b>Backend:</b></p>
                        <ol>
                            <li>Spring REST</li>
                            <li>Spring Security</li>
                            <li>JWT (JSON Web Token)</li>
                            <li>Spring-Hibernate</li>
                            <li>MySQL</li>
                        </ol>
                    </li>
                    <li>
                        <p><b>Frontend:</b></p>
                        <ol>
                            <li>HTML (Hyper Text Markup Language)</li>
                            <li>CSS (Cascading Style Sheet)</li>
                            <li>Javascript</li>
                            <li>jQuery</li>
                            <li>Sammy</li>
                        </ol>
                    </li>
                    <li>
                        <p><b>DevOps:</b></p>
                        <ol>
                            <li>Apache Server</li>
                            <li>Amazon Web Services (EC2, S3)</li>
                            <li>Jenkins</li>
                        </ol>
                    </li>
                </ul>

                <p>Click on menu items on the left to start....</p>
            </div>
            <!--End Introduction-->


            <!--Admin-->
            <div id="admin-section" style="display: none;" data-controller="AdminController" >
                <div id="admin-list" data-model-name="AdminSearchModel">
                    <fieldset>
                        <legend>Admin Management</legend>
                        <div>
                            <label>Search: </label> <input name="name" data-action="search" />
                        </div>
                        <br/>

                        <ol id="admin-table">
                        </ol>
                        <button class="button" data-action="first" >First</button>
                        <button class="button" data-action="previous" >Previous</button>
                        <span>Current Page: </span>
                        <input id="page_index" style="width: 20px;" data-action="onPageIndexChanged" value="1" />
                        / <span id="num_of_pages"></span> |
                        <span>Page Size: </span>
                        <select id="page_size" style="width: 40px;" data-action="onPageSizeChanged">
                            <option>2</option>
                            <option selected="selected">4</option>
                            <option>6</option>
                            <option>8</option>
                            <option>10</option>
                            <option>20</option>
                        </select>
                        <button class="button" data-action="next" >Next</button>
                        <button class="button" data-action="last" >Last</button>
                        <br/><br/>
                        <button class="button" data-action="create" >New</button>
                    </fieldset>
                </div>
                <br />

                <div id="admin-edit" style="display: none;" data-model-name="AdminEditModel">
                    <fieldset>
                        <legend>Admin Edit</legend>
                        <div id="admin-form" action="#">
                            <div style="display: none">
                                <label class="field" >Id: </label>
                                <input class="field" name="id" type="text" />
                            </div>
                            <div>
                                <label class="field" >Email: </label>
                                <input class="field" name="email" type="text" />
                            </div>
                            <div>
                                <label class="field" name="confirmed_email_label">Confirmed Email: </label>
                                <input class="field" name="confirmed_email" type="text" />
                            </div>
                            <div>
                                <label class="field" >Password: </label>
                                <input class="field" name="password" type="password" />
                            </div>
                            <div>
                                <label class="field"  name="confirmed_password_label">Confirmed Password: </label>
                                <input class="field" name="confirmed_password" type="password" />
                            </div>
                            <div>
                                <label class="field" >First Name: </label>
                                <input class="field" name="first_name" type="text" />
                            </div>
                            <div>
                                <label class="field" >Last Name: </label>
                                <input class="field" name="last_name" type="text" />
                            </div>
                            <div>
                                <label class="field" >Phone: </label>
                                <input class="field" name="phone" type="text" />
                            </div>
                            <div>
                                <a href="#/admins" class="button" data-action="save" >Save</a>
                                <a href="#/admins" class="button" data-action="cancelEdit" >Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!--End Admin-->


            <!--Member-->
            <div id="member-section" style="display: none;" data-controller="MemberController" >
                <div id="member-list" data-model-name="MemberSearchModel">
                    <fieldset>
                        <legend>Member Management</legend>
                        <div>
                            <label>Upload: </label> <input type="file" data-action="upload" />
                            <p>Under development using simple upload jQuery plugin...</p>
                        </div>
                        <br/>

                        <div>
                            <label>Search: </label> <input name="name" data-action="search" />
                        </div>
                        <br/>

                        <ol id="member-table">
                        </ol>
                        <a href="#/members" class="button" data-action="first" >First</a>
                        <a href="#/members" class="button" data-action="previous" >Previous</a>
                        <span>Current Page: </span>
                        <input id="page_index" style="width: 20px;" data-action="onPageIndexChanged" value="1" />
                        / <span id="num_of_pages"></span> |
                        <span>Page Size: </span>
                        <select id="page_size" style="width: 40px;" data-action="onPageSizeChanged">
                            <option>2</option>
                            <option selected="selected">4</option>
                            <option>6</option>
                            <option>8</option>
                            <option>10</option>
                            <option>20</option>
                        </select>
                        <button class="button" data-action="next" >Next</button>
                        <button class="button" data-action="last" >Last</button>
                        <br/><br/>
                        <button class="button" data-action="create" >New</button>
                    </fieldset>
                </div>
                <br />

                <div id="member-edit" data-model-name="MemberEditModel" style="display: none;">
                    <fieldset>
                        <legend>Member Edit</legend>
                        <div id="member-form" action="#">
                            <div style="display: none">
                                <label>Id: </label>
                                <input class="field" name="id" type="text" />
                            </div>
                            <div>
                                <label class="field" >Email: </label>
                                <input class="field" name="email" type="text" />
                            </div>
                            <div>
                                <label style="width: 150px" name="confirmed_email_label">Confirmed Email: </label>
                                <input class="field" name="confirmed_email" type="text" />
                            </div>
                            <div>
                                <label class="field" >Password: </label>
                                <input class="field" name="password" type="password" />
                            </div>
                            <div>
                                <label class="field" name="confirmed_password_label">Confirmed Password: </label>
                                <input class="field" name="confirmed_password" type="password" />
                            </div>
                            <div>
                                <label class="field" >First Name: </label>
                                <input class="field" name="first_name" type="text" />
                            </div>
                            <div>
                                <label class="field" >Last Name: </label>
                                <input class="field" name="last_name" type="text" />
                            </div>
                            <div>
                                <label class="field" >Phone: </label>
                                <input class="field" name="phone" type="text" />
                            </div>
                            <div>
                                <label class="field" >Position: </label>
                                <input class="field" name="position" type="text" />
                            </div>
                            <div>
                                <a href="#/members" class="button" data-action="save" >Save</a>
                                <a href="#/members" class="button" data-action="cancelEdit" >Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!--End Member-->
        </div>
    </div>

</body>
</html>